.confirmation-content {
    display: flex;
    align-items: center;
}

.header-button {
    position: absolute;
    top: 5%;
    right: 0%;
}

.search-drop-drown .p-dropdown-filter-container {
    width: 90% !important;
}

.user-image {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.p-column-filter-menu {
    margin-left: 0 !important;
}

.p-fileupload .p-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.p-fileupload .p-button span {
    padding: 0;
}

.translator {
    align-items: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 5px 16px;
    margin: 0.5rem 0;
    cursor: pointer;
    font-size: 14px;
}

/* filter style */
.p-column-filter-add-rule {
    display: none !important;
}

/* Override default accordion tab icons */
.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    display: none;
}

.p-accordion-header-link {
    padding: 1rem !important;
}

.p-accordion-header-link:hover {
    background-color: #e3f2fd !important;
}

.p-accordion .p-accordion-tab {
    padding-bottom: 4px !important;
}

.p-accordion-header-text {
    width: 100%;
}